@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #282d35;
  color: #ffffff;
  background-image: url(./assets/reacticon-2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2em;
  width: 100%;
  background-color: #21222a;
}

nav h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #61dbfb;
}

.nav-logo {
  width: 50px;
}

.nav-menu {
  display: block;
  margin-left: auto;
  width: 30px;
  -webkit-filter: invert(100%);
  cursor: pointer;
}

main {
  padding: 2em;
  margin-top: 1em;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 1em;
  letter-spacing: -0.05em;
  font-weight: 700;
}

main li {
  padding-bottom: 0.5em;
  font-size: 1.5rem;
  font-weight: 400;
}

main li::marker {
  font-size: 1.5rem;
  color: #61dbfb;
}



